@import url('../generales/variables.css');

/* body */
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 4.5%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "sugerencia posts publicidad"
    "sugerencia posts publicidad"
    "sugerencia posts publicidad"
    "sugerencia posts publicidad"
    "sugerencia posts publicidad"; */
}

/* sugerencia de amistad y publicidad */
.container .sugerencia,
.container .publicidad { 
    /* grid-area: sugerencia; */
    width: 15%;
    text-align: center;
}

.container .sugerencia {
    margin-left: 1%;
}

.container .publicidad {
    margin-right: 1%;
}


.sugerencia > h4,
.publicidad > h4 {
    color: rgba(0, 0, 0, .5);
    /* font-size: 24px; */
    margin-top: 1%;
    margin-bottom: 15%;
}

.sugerencia .box  {
    display: flex;
    justify-content: center;
    margin-top: -5%;
}

.sugerencia .box .boxSugerencia {
    width: 90%;
    height: 200px;
    /* background: linear-gradient(to top, white 0%, white 40%, rgba(166, 111, 166, .4) 40%, rgba(166, 111, 166, .4) 100%); */
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(166, 111, 166, .4) 100%);
    border-radius: var(--border-radius);
    border: 1px solid rgba(255, 255, 255, 0);
    margin-bottom: 15%;
    height: 200px;
}

.sugerencia .box .boxSugerencia > img {
    margin-top: 10%;
    border-radius: 50%;
    margin-bottom: 5%;
}

.sugerencia .box .boxSugerencia > button {
    all: unset;
    padding: 2px 7px;
    border-radius: var(--border-radius);
    background-color: #ae78c3;
    color: white;
    margin-top: 5%;
    cursor: pointer;
}

/* publicidad */
.publicidad { 
    grid-area: publicidad;
}

.publicidad > p {
    margin-bottom: 10%;
}

.publicidad .boxPublicidad {
    margin-bottom: 10%;
}

.publicidad .boxPublicidad > img {
    width: 100%;
    height: 90%;
}

/* publicidad */
.publicitar > button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
}

.publicitar > button:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
}

.publicitar > button:hover:after {
    opacity: 1;
    right: 10px;
}

.publicitar > button:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.Conteiner-Comentario {
    display:none;  
}

/* responsive mobile */

.containerSugerenciasMobile, 
.containerPublicidadMobile {
    display: none;
}

@media only screen and (max-width: 820px) {
    .container {
        display: none;
    }

    /* segurencias de amistad */

    .containerSugerenciasMobile {
        /* width: 90%; */
        /* margin-left: 5%; */
        display: flex;
        /* justify-content: center; */
        margin-top: -10%;
    }

    .containerSugerenciasMobile .sugerenciasMobile {
        display: flex;
        overflow-y: scroll;
    }

    .containerSugerenciasMobile .sugerenciasMobile .boxMobile {
        margin-right: 5%;
    }

    .containerSugerenciasMobile .sugerenciasMobile .boxMobile .boxSugerenciaMobile {
        background: linear-gradient(to top, white 0%, white 50%, rgba(166, 111, 166, .4) 50%, rgba(166, 111, 166, .4) 100%);
        border-radius: var(--border-radius);
        font-size: 14px;
        border-bottom: 1px solid var(--primary-color);
        width: 150px;
        min-width: 150px;
        height: 170px;
        max-height: 170px;
    }

    .containerSugerenciasMobile .sugerenciasMobile .boxMobile .boxSugerenciaMobile > img {
        margin-top: 20%;
        border-radius: 50%;
        margin-bottom: 5%;
        margin-left: 30%;
    }

    .containerSugerenciasMobile .sugerenciasMobile .boxMobile .boxSugerenciaMobile > p {
        text-align: center;
        margin-top: -2%;
    }

    .containerSugerenciasMobile .sugerenciasMobile .boxMobile .boxSugerenciaMobile > button {
        margin-left: 20%;
        /* all: unset; */
        padding: 2px 7px;
        border-radius: var(--border-radius);
        background-color: #ae78c3;
        color: white;
        border: none;
    }

    .containerMobile .group {
        margin-top: -25%;
    }

    .containerPublicidadMobile {
        display: flex;
        overflow-y: scroll;
        border-top: 1px solid var(--primary-color);
        border-bottom: 1px solid var(--primary-color);
        margin-top: -10%;
        padding: 15px 0px;
    }

    .containerPublicidadMobile > img {
        width: 150px;
        height: 150px;
        border-left: 1px solid var(--primary-color);
        border-right: 1px solid var(--primary-color);
        margin-right: 5%;
    }

    /* .sugerenciasMobile {
        display: flex;
        overflow-y: scroll;
    }

    .sugerenciasMobile > img {
        border: 1px solid red;
    } */
}