@import url('../generales/variables.css');



/* body */
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 4.5%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "sugerencia posts publicidad"
    "sugerencia posts publicidad"
    "sugerencia posts publicidad"
    "sugerencia posts publicidad"
    "sugerencia posts publicidad"; */
}

/* sugerencia */
.sugerencia { 
    /* grid-area: sugerencia; */
    width: 20%;
    text-align: center;
    border: 1px solid black;
}

.sugerencia .box  {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.sugerencia .box .boxSugerencia {
    width: 90%;
    height: 200px;
    /* background: linear-gradient(to top, white 0%, white 40%, rgba(166, 111, 166, .4) 40%, rgba(166, 111, 166, .4) 100%); */
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(166, 111, 166, .4) 100%);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0);
    margin-bottom: 15%;
    height: 220px;
}

.sugerencia .box .boxSugerencia > img {
    margin-top: 20%;
    border-radius: 50%;
}

/* .sugerencia .box .boxSugerencia > p {
    margin-top: -0.5%;
} */

.sugerencia .box .boxSugerencia > button {
    all: unset;
    padding: 2px 7px;
    border-radius: 5px;
    background-color: #ae78c3;
    color: white;
}

/* publicidad */
.publicidad { 
    border: 1px solid black;
    /* grid-area: publicidad; */
    width: 20%; 
    text-align: center;
}