@import url('../generales/variables.css');

* {
    font-family: var(--text-font)
}

.gridFotos,
.gridAmigos {
    margin-left: 8%;
}

.gridFotos .nav,
.gridAmigos .nav {
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.gridFotos .nav > a,
.gridAmigos .nav > a {
    color: black;
    text-decoration: none;
}

.gridFotos .linea,
.gridAmigos .linea {
    border: 1px solid var(--light-color);
    width: 91%;
}

.gridFotos .albunes {
    width: 91%;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.gridFotos .albunes .album {
    width: 10%;
}

.gridFotos .albunes .album > img {
    width: 150px;
}

.gridFotos .albunes .album > p {
    text-align: center;
}

.gridFotos .dentroAlbum .fotosAlbum {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 80%;
    margin-left: 8%;
}

.gridFotos .dentroAlbum .fotosAlbum > img {
    width: 120px;
    margin-bottom: 5%;
    cursor: pointer;
}

.gridFotos .dentroAlbum .fotosAlbum > img:hover{
    animation: scale-up-image 1s forwards;
}

@keyframes scale-up-image {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

/* MOBILE */

.albunesMobile,
.dentroAlbumMobile {
    display: none;
}

@media only screen and (max-width: 820px) {
    .containerPerfil, 
    .gridFotos {
        display: none;
    }

    .muroInicioMobile .headerMobile {
        margin-top: -95%;
    }

    .muroInicioMobile .navMobile {
        margin-top: -80%;
    }

    .navPerfilMobile .navMobile {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--primary-color);
        padding: 10px 0px;
    }

    .navPerfilMobile .navMobile > a {
        all: unset;
    }

    .containerMobile {
        margin-top: 10%;
    }

    .albunesMobile {
        display: flex;
        margin-top: 2%;
        justify-content: space-between;
    }

    .albunesMobile .albumMobile {
        width: 20%;
    }

    .albunesMobile .albumMobile > img {
        width: 65px;
    }

    .albunesMobile .albumMobile > p {
        text-align: center;
        font-size: 12px;
    }

    .dentroAlbumMobile {
        display: block;
    }

    .dentroAlbumMobile > p {
        font-size: 16px;
        text-decoration: underline;
        text-decoration-color: var(--primary-color);
    }

    .dentroAlbumMobile .fotosAlbumMobile {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
        margin-left: 5%;
        grid-row-gap: 10px;
    }

    .dentroAlbumMobile .fotosAlbumMobile > img  {
        width: 65px;
    }

    /* .gridFotos .albunes {
        display: flex;
        justify-content: space-evenly;
    } */
}