@import url('../generales/variables.css');

* {
    font-family: var(--text-font);
}

.banner {
    margin-top: 4.5%;
    display: flex;
    justify-content: center;
}

.banner .boxBanner {
    width: 85%;
    display: flex;
    justify-content: center;
    background-color: var(--light-color);
    border-radius: var(--border-radius);
    padding: 20px 0px;
}

.banner .boxBanner .nombre > img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.banner .boxBanner > p {
    position: absolute;
    margin-left: 70%;
    margin-top: 10%;
    cursor: pointer;
}

/* MOBILE */

@media only screen and (max-width: 1366px) {
    .banner .boxBanner > p {
        margin-top: 14%;
    }
}

@media only screen and (max-width: 820px) {
    .banner {
        margin-top: 30%;
        width: 100%;
        padding: 20px 0px;
        border-bottom: 1px solid var(--primary-color);
    }

    .banner .boxBanner {
        width: 100%;
        padding: 5px 0px;
    }

    .banner .boxBanner > p {
        display: none;
    }
}