@import url('../generales/variables.css');

* {
    font-family: var(--text-font)
}

.sessionFlow {
    width: 52.083vw;
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(137, 88, 137, 1);
}

.sessionFlow .logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessionFlow .logo > img {
    width: 300px;
    height: 300px;
}

.sessionFlow .logo > h1 {
    font-family: var(--title-font);
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: lighter;
    color: white;
}

.sessionFlow .cuadroForm {
    width: 50%;
    display: flex;
    justify-content: center;
}

.sessionFlow .cuadroForm .formulario {
    width: 20.833vw;
    height: 60vh;
    margin-top: 13%;
    background-color: white;
}

.sessionFlow .cuadroForm .formulario > h1 {
    text-align: center;
    padding-top: 2vh;
    font-size: 24px;
}

.sessionFlow .cuadroForm .formulario .registerTitle {
    margin: 0%;
}

.sessionFlow .cuadroForm .formulario > form {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    /* margin-bottom: 15%; */
}

.sessionFlow .cuadroForm .formulario > a .login {
    margin-top: 4vh;
    width: 150px;
    /* text-align: center; */
}

.sessionFlow .cuadroForm .formulario > a .crearCuenta {
    margin-top: 5%;
    width: 150px;
}

.sessionFlow .cuadroForm .formulario > form > input {
    background-color: rgba(196, 196, 196, .5);
    border: none;
    padding: 10px 5px;
    width: 97%;
}

.sessionFlow .cuadroForm .formulario > form .input1 {
    margin-bottom: 10%;
}

.sessionFlow .cuadroForm .formulario > form .input2 {
    margin-bottom: 7%;
}

.sessionFlow .cuadroForm .formulario > form > input:focus {
    outline: none;
}

.sessionFlow .cuadroForm .formulario > form > input::placeholder {
    color: rgba(0, 0, 0, .7);
}

.sessionFlow .cuadroForm .formulario .login,
.sessionFlow .cuadroForm .formulario .crearCuenta {
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: var(--primary-color);
    width: 30%;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    margin-left: 30%;
    margin-top: 10%;
    padding: 10px 20px;
}

.sessionFlow .cuadroForm .formulario .login {
    margin-top: 5%;
}

.conteiner-paralax .paralax .form .sessionFlow .cuadroForm .formulario > p {
    text-align: center;
    font-size: 12px;
    color: var(--primary-color);
    cursor: pointer;
}

.sessionFlow .cuadroForm .formulario > hr {
    width: 90%;
    margin-top: 5%;
}

.sessionFlow .cuadroForm .formulario > a {
    all: unset;
    width: 100%;
    margin-left: -3%;
}

.sessionFlow .cuadroForm .formulario > a .crearCuenta {
    background-color: var(--secondary-color);
    margin-top: 0%;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.paralax{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: url(../../images/huesoss.png);
    animation: moveBackground 70s linear infinite;  
}

.conteiner-paralax{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: url(../../images/patass.png);
    animation: moveBackground 85s linear infinite;  
}
.error{
    display: none;
    color: red;
    font-size: 11px;
    margin-top: -6%;
}
.aviso{
    display: block;
    font-size: 11px;
    margin-top: -6%;
}
input[type="email"]:invalid {
    box-shadow: 0 0 5px 1px red;
}
input[type="email"]:focus:invalid {
    box-shadow: none;
}
input[type="password"]:invalid {
    box-shadow: 0 0 5px 1px red;
}
input[type="password"]:focus:invalid {
    box-shadow: none;
}
.contraseñaError{
    box-shadow: 0 0 5px 1px red;
}
/* Responsive mobile */

.loginMobile,
.registerMobile {
    display: none;
}

@keyframes moveBackground {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: -1920px;
    }
}

@media only screen and (max-width: 1366px) {
    .sessionFlow .cuadroForm .formulario > a {
        margin-left: -13%;
    }

    .sessionFlow .cuadroForm .formulario .registerTitle {
        font-size: 22px;
    }

    .sessionFlow .cuadroForm .formulario {
        margin-top: 10%;
        height: 65vh;
    }
    .errorMobile{
        display: none;
        color: red;
        font-size: 10px;
        margin-top: -4%;
        }
    .avisoMobile{
        display: block;
        font-size: 10px;
        margin-top: -5%;
        }
}

@media only screen and (max-width: 820px) {
    .paralax,
    .conteiner-paralax{
        display: none;
    }

    .loginMobile,
    .registerMobile {
        display: flex;
        justify-content: center;
    }

    .loginMobile .responsive {
        width: 80%;
        margin-top: 5%;
    }

    .loginMobile .responsive .logoMobile,
    .registerMobile .responsive .logoMobile {
        display: flex;
        justify-content: center;
    }

    .loginMobile .responsive .logoMobile > img,
    .registerMobile .responsive .logoMobile > img {
        width: 200px;
    }

    .loginMobile .responsive > h1,
    .registerMobile .responsive > h1 {
        text-align: center;
        font-family: var(--title-font);
        font-size: 40px;
        letter-spacing: 2px;
        font-weight: lighter;
    }

    .registerMobile .responsive > h1 {
        margin-top: -1%;
    }

    .registerMobile .responsive > form {
        margin-top: -6%;
    }

    .loginMobile .responsive > form > input,
    .registerMobile .responsive > form > input {
        margin-bottom: 5%;
        background-color: rgba(196, 196, 196, .6);
        border: none;
        padding: 10px 5px;
        width: 97%;
    }

    .loginMobile .responsive > form > a,
    .registerMobile .responsive > form > a {
        all: unset;
    }

    .loginMobile .responsive > a .login,
    .loginMobile .responsive > a .crearCuenta,
    .registerMobile .responsive > a .login {
        all: unset;
        text-align: center;
        background-color: var(--primary-color);
        width: 50%;
        border-radius: 50px;
        color: white;
        font-weight: bold;
        margin-left: 20%;
        margin-top: 4%;
        padding: 10px 20px;
    }

    .registerMobile .responsive > a .login {
        margin-top: 0%;
    }

    .loginMobile .responsive > a .crearCuenta {
        background-color: var(--secondary-color);
    }

    .loginMobile .responsive > hr {
        width: 85%;
    }

    .loginMobile .responsive > p {
        text-align: center;
        font-size: 12px;
        color: var(--primary-color);
    }

}