@import url('../generales/variables.css');

* {
    font-family: var(--text-font)
}

.sessionFlow {
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(137, 88, 137, .9);
}

.sessionFlow .logo {
    width: 50%;
}

.sessionFlow .logo > img {
    margin-top: 30%;
    margin-left: 25%;
}

.sessionFlow .logo > h1 {
    font-family: var(--title-font);
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: lighter;
    color: white;
}

.sessionFlow .cuadroForm {
    width: 50%;
}

.sessionFlow .cuadroForm .formulario {
    width: 400px;
    height: 550px;
    margin-top: 13%;
    background-color: white;
}

.sessionFlow .cuadroForm .formulario > h1 {
    text-align: center;
    /* margin-top: 20%; */
}

.sessionFlow .cuadroForm .formulario .register {
    margin-top: 0% !important;
}

.sessionFlow .cuadroForm .formulario > form {
    width: 80%;
    margin-left: 10%;
    margin-top: 20%;
}

.sessionFlow .cuadroForm .formulario > form > input {
    background-color: rgba(196, 196, 196, .5);
    border: none;
    padding: 10px 5px;
    width: 97%;
}

.sessionFlow .cuadroForm .formulario > form .input1 {
    margin-bottom: 10%;
}

.sessionFlow .cuadroForm .formulario > form .input2 {
    margin-bottom: 7%;
}

.sessionFlow .cuadroForm .formulario > form > input:focus {
    outline: none;
}

.sessionFlow .cuadroForm .formulario > form > input::placeholder {
    color: rgba(0, 0, 0, .7);
}

.sessionFlow .cuadroForm .formulario .login,
.sessionFlow .cuadroForm .formulario .crearCuenta {
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: var(--primary-color);
    width: 30%;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    margin-left: 30%;
    margin-top: 10%;
    padding: 10px 20px;
}

.sessionFlow .cuadroForm .formulario > p {
    text-align: center;
    font-size: 12px;
    color: var(--primary-color);
    cursor: pointer;
}

.sessionFlow .cuadroForm .formulario > hr {
    width: 90%;
    margin-top: 5%;
}

.sessionFlow .cuadroForm .formulario > a {
    all: unset;
}

.sessionFlow .cuadroForm .formulario > a .crearCuenta {
    background-color: var(--secondary-color);
    margin-top: 0%;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.paralax{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: url(../../images/FF.png);
    animation: moveBackground 85s linear infinite;  
}

.conteiner-paralax{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: url(../../images/F.png);
    animation: moveBackground 70s linear infinite;  
}
/* Responsive mobile */

.loginMobile {
    display: none;
}

@keyframes moveBackground {
    0%{
        background-position: 0px;
    }
    100%{
        background-position: -1920px;
    }
}

@media only screen and (max-width: 820px) {
    .paralax,
    .conteiner-paralax{
        display: none;
    }

    .loginMobile {
        display: flex;
        justify-content: center;
    }

    .loginMobile .responsive {
        width: 80%;
        margin-top: 5%;
    }

    .loginMobile .responsive .logoMobile {
        display: flex;
        justify-content: center;
    }

    .loginMobile .responsive .logoMobile > img {
        width: 200px;
    }

    .loginMobile .responsive > h1 {
        text-align: center;
        font-family: var(--title-font);
        font-size: 40px;
        letter-spacing: 2px;
        font-weight: lighter;
    }

    .loginMobile .responsive > form > input {
        margin-bottom: 5%;
        background-color: rgba(196, 196, 196, .6);
        border: none;
        padding: 10px 5px;
        width: 97%;
    }

    .loginMobile .responsive > form > a {
        all: unset;
    }

    .loginMobile .responsive > a .login,
    .loginMobile .responsive > a .crearCuenta {
        all: unset;
        text-align: center;
        background-color: var(--primary-color);
        width: 50%;
        border-radius: 50px;
        color: white;
        font-weight: bold;
        margin-left: 20%;
        margin-top: 4%;
        padding: 10px 20px;
    }

    .loginMobile .responsive > a .crearCuenta {
        background-color: var(--secondary-color);
    }

    .loginMobile .responsive > hr {
        width: 85%;
    }

    .loginMobile .responsive > p {
        text-align: center;
        font-size: 12px;
        color: var(--primary-color);
    }
}