@import url('../generales/variables.css');

* {
    font-family: var(--text-font);
}

.posts { 
    /* grid-area: posts; */
    width: 35%; 
}

/* crear publicacion */
.posts .crearPublicacion,
.posts .publicaciones,
.containerMobile .crearPostsMobile,
.containerMobile .postsMobile .publicacionesMobile {
    margin-top: -1%;
    background-color: rgba(196, 196, 196, .3);
    border-radius: var(--border-radius);
    padding-bottom: 15px;
}

.posts .crearPublicacion:hover {
    box-shadow: 5px 5px 10px rgba(196, 196, 196, 1);
}

.posts .crearPublicacion > h3,
.containerMobile .crearPostsMobile > h3 {
    /* font-size: 24px; */
    margin-top: 1%;
    padding-top: 5px;
    text-align: center;
}

.posts .crearPublicacion .headerPost > img,
.posts .publicaciones .headerPost > img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 5%;
}

.posts .crearPublicacion .headerPost, 
.posts .publicaciones .headerPost {
    display: flex;
    padding-top: 2%;
}

.posts .publicaciones .headerPost > p {
    font-size: 20px;
    margin-left: 9%;
}

.posts .crearPublicacion .headerPost .infoAmigoPost,
.posts .publicaciones .headerPost .infoAmigoPost {
    width: 24vw;
    margin-left: 4%;
}

.posts .publicaciones .headerPost .infoAmigoPost > p {
    margin-top: -4%;
}

.posts .publicaciones .headerPost .infoAmigoPost > p {
    font-size: 13px;
}

.posts .crearPublicacion > h4,
.posts .publicaciones > h4 {
    margin-left: 18%;
    margin-top: -9%;
    width: 30%;
    /* font-size: 20px; */
    margin-right: 55%;
    font-weight: lighter;
}

.posts .crearPublicacion .textoPublicar,
.posts .crearPublicacion .compartir, 
.posts .publicaciones .comentar,
.posts .publicaciones .conteinerImg,
.containerMobile .crearPostsMobile .hacerPostsMobile,
.containerMobile .postsMobile .publicacionesMobile .comentarMobile {
    display: flex;
    justify-content: center;
}

.posts .publicaciones .conteinerImg .post > p {
    margin-top: -0%;
}

.posts .crearPublicacion .textoPublicar > input[type="text"],
.posts .publicaciones .comentar > input[type="text"],
.containerMobile .crearPostsMobile .hacerPostsMobile > input[type="text"] {
    width: 85%;
    padding: 20px 15px;
    background-color: rgba(196, 196, 196, .5);
    border: none;
    border-radius: var(--border-radius);
    margin-bottom: 2%;
}

.posts .crearPublicacion .textoPublicar > input[type="text"] {
    margin-top: 2%;
}

.posts .crearPublicacion .textoPublicar > input[type="text"]:focus {
    outline: none;
}

.posts .crearPublicacion .textoPublicar > input[type="text"]::placeholder {
    font-size: 15px;
}

.posts .crearPublicacion .opcionesPublicar,
.containerMobile .crearPostsMobile .opcionesPostsMobile {  
    width: 50%;
    font-size: 14px;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "imagen etiquetar";
}

.posts .crearPublicacion .opcionesPublicar .imagen { 
    grid-area: imagen; 
    cursor: pointer;
}

.posts .crearPublicacion .opcionesPublicar .etiquetar { 
    grid-area: etiquetar;
    cursor: pointer;
}

.posts .crearPublicacion .compartir,
.containerMobile .crearPostsMobile .compartirMobile {
    width: 90%;
    margin-left: 5%;
}

.posts .crearPublicacion .compartir > button,
.containerMobile .crearPostsMobile .compartirMobile > button {
    all: unset;
    border-radius: 50px;
    text-align: center;
    background: #844B84;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 10%;
    padding: 5px 20px;
    margin-left: 85%;
    cursor: pointer;
}

/* publicaciones */
.posts .publicaciones {
    margin-top: 4%;
}

.posts .publicaciones:hover {
    box-shadow: 5px 5px 10px rgba(196, 196, 196, 1);
}
.containerMobile .crearPostsMobile .persona > img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 2%;
    margin-top: -2%;
    padding-bottom: 2%;
    padding-right: 1%;
}
.posts .publicaciones > img {
    margin-top: 2%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.posts .publicaciones > p {
    margin-left: 18%;
    margin-top: -3%;
    width: 30%;
    font-size: 13px;
    margin-right: 55%;
    color: rgba(100, 100, 100, 1);
}

.posts .publicaciones .conteinerImg .post,
.containerMobile .postsMobile .publicacionesMobile .containerDatoPublicacion .textImgPostMobile {
    /* border: 1px solid red; */
    width: 90%;
    margin-top: 4%;
}

.posts .publicaciones .conteinerImg .post > img,
.containerMobile .postsMobile .publicacionesMobile .containerDatoPublicacion .textImgPostMobile > img {
    width: 100%;
}

.posts .publicaciones .opciones,
.containerMobile .postsMobile .publicacionesMobile .opcionesMobile {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    font-size: 14px;
}

.posts .publicaciones .opciones > p {
    cursor: pointer;
}

.posts .publicaciones .opciones > a,
.containerMobile .postsMobile .publicacionesMobile .opcionesMobile > a {
    text-decoration: none;
    color: black;
}

.posts .publicaciones .comentarios,
.containerMobile .postsMobile .publicacionesMobile .comentariosMobile {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 5%;
    background: rgba(196, 196, 196, .5);
    border-radius: var(--border-radius);
    margin-bottom: 3%;
    padding: 5px 0px;
}

.posts .publicaciones .comentarios > img,
.containerMobile .postsMobile .publicacionesMobile .comentariosMobile > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.posts .publicaciones .comentarios .textoComentario,
.containerMobile .postsMobile .publicacionesMobile .comentariosMobile .textoComentarioMobile {
    width: 85%;
    font-size: 14px;
}

.posts .publicaciones .comentar > input[type="text"],
.containerMobile .postsMobile .publicacionesMobile .comentarMobile > input[type="text"] {
    width: 85%;
    padding: 5px 15px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 50px;
    margin-bottom: 2%;
}

.posts .publicaciones .comentar > input[type="text"]:focus,
.containerMobile .postsMobile .publicacionesMobile .comentarMobile > input[type="text"] {
    outline: none;
}

/* responsive mobile */

.containerMobile {
    display: none;
}

@media only screen and (max-width: 1366px) {
    .posts {
        width: 40%;
    }

    .posts .crearPublicacion .opcionesPublicar {
        width: 55%;
    }

    .posts .publicaciones .headerPost > p {
        margin-left: 12%;
    }
}
.containerMobile .postsMobile .publicacionesMobile .encabezadoPosts .persona > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 2%;
}

@media only screen and (max-width: 820px) {
    .container {
        display: none;
    }

    /* CREAR PUBLICACIONES */
    .containerMobile {
        margin-top: 35%;
        display: flex;
        justify-content: center;
        margin-bottom: 4%;
    }

    .containerMobile .postsMobile{
        width: 90%;
    }
    
    .containerMobile .postsMobile .crearPostsMobile {
        margin-bottom: 10%;
    }

    .containerMobile .postsMobile .crearPostsMobile .persona {
        display: flex;
    }

    .containerMobile .postsMobile .crearPostsMobile .persona > h4 {
        font-size: 14px;
    }

    .containerMobile .postsMobile .crearPostsMobile .hacerPostsMobile > input[type="text"] {
        width: 75%;
        padding: 10px 15px;
    }

    .containerMobile .postsMobile .crearPostsMobile .opcionesPostsMobile {
        width: 45%;
        font-size: 12px;
        margin-left: 7%;
        margin-top: 3%;
    }
    
    .containerMobile .postsMobile .crearPostsMobile .compartirMobile {
        margin-top: -6%;
    }

    .containerMobile .postsMobile .crearPostsMobile .compartirMobile > button {
        margin-left: 70%;
        width: 20%;
    }

    /* PUBLICACIONES DE AMIGOS EN EL MURO DE INICIO */

    .containerMobile .postsMobile .publicacionesMobile {
        margin-bottom: 10%;
    }

    .containerMobile .postsMobile .publicacionesMobile .encabezadoPosts {
        display: flex;
        justify-content: space-between;
    }

    .containerMobile .postsMobile .publicacionesMobile .encabezadoPosts > i {
        padding: 5%;
    }

    .containerMobile .postsMobile .publicacionesMobile .encabezadoPosts .persona {
        display: flex;
    }

    .containerMobile .postsMobile .publicacionesMobile .encabezadoPosts .persona .nombreHora {
        width: 170px;
    }

    .containerMobile .postsMobile .publicacionesMobile .encabezadoPosts .persona .nombreHora > h4 {
        font-size: 14px;
    }

    .containerMobile .postsMobile .publicacionesMobile .encabezadoPosts .persona .nombreHora > p {
        font-size: 10px;
        margin-top: -7%;
    }

    .containerMobile .postsMobile .publicacionesMobile .containerDatoPublicacion  {
        display: flex;
        justify-content: center;
    }

    .containerMobile .postsMobile .publicacionesMobile .comentariosMobile .textoComentarioMobile {
        margin-left: 2%;
    }
}

@media only screen and (max-width: 350px) {
    .containerMobile {
        display: none;
    }
}